body {
    height: 2000px;
    font-family: "Jost", sans-serif;
}

header{
    background-color: #e9edf4;

}


/* start nav test */

#nav_test_id{
    transition:500ms ease;
    /* background-color:#000; */
  }

/* end nav test */

.nav_titles li a{
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    color: #1c1c1c;
    /* padding: 30px; */
    margin-right: 20px;
}

.welcoming .we_agens {
    color: #7153d9;
    letter-spacing: 8px;
}

.welcoming .head {
    font-size: 75px;
}

.welcoming .paragraph {
    line-height: 1.5;
    color: #54545f;
}


.welcoming .btn_readmore {
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    border: 0px;
    border-radius: 27px;
    padding: 20px 45px;
    line-height: 1;
}

.circle-icon{
    text-align: center;
    width: 90px;
    height: 90px;
    --bs-bg-opacity: 0.1;


}



.cards-1-para{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
    line-height: 1.666;
}



